<div class="container mt-5" >
  <div class="row" *ngIf="detay">
    <div class="col-md-12">
      <h4>Detaylar</h4>
      <table class="table">
        <thead>
          <th>Konu Adı</th>
          <th>Bitiş Tarihi</th>
          <th>Detay</th>
        </thead>
        <tbody>
          <td>Online Sınav Portalı</td>
          <td>18.11.2021</td>
          <td>Uzaktan eğitim'de yararlanılacak bir sınav portalı</td>
        </tbody>
        <button class="btn btn-success ">Konuyu seç</button>
        <button class="btn btn-danger  ml-2   "(click)="detay=false;" >Kapat</button>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="detay1">
    <div class="col-md-12">
      <h4>Detaylar</h4>
      <table class="table">
        <thead>
          <th>Konu Adı</th>
          <th>Bitiş Tarihi</th>
          <th>Detay</th>
        </thead>
        <tbody>
          <td>Ödev Dağıtım Portalı </td>
          <td>18.11.2021</td>
          <td>Öğrencilerin derslerden belirlenen projelerden birisini seçebildiği bir ödev dağılım portalı</td>
        </tbody>
        <button class="btn btn-success ">Konuyu seç</button>
        <button class="btn btn-danger ml-2 "(click)="detay1=false;" >Kapat</button>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="detay2">
    <div class="col-md-12">
      <h4>Detaylar</h4>
      <table class="table">
        <thead>
          <th>Konu Adı</th>
          <th>Bitiş Tarihi</th>
          <th>Detay</th>
        </thead>
        <tbody>
          <td>Eğitim Portalı </td>
          <td>18.11.2021</td>
          <td>Uzaktan eğitim için kullanılacak bir eğitim portalı</td>
        </tbody>
        <button class="btn btn-success ">Konuyu seç</button>
        <button class="btn btn-danger  ml-2"(click)="detay2=false;" >Kapat</button>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="detay3">
    <div class="col-md-12">
      <h4>Detaylar</h4>
      <table class="table">
        <thead>
          <th>Konu Adı</th>
          <th>Bitiş Tarihi</th>
          <th>Detay</th>
        </thead>
        <tbody>
          <td>Anket Hazırlama Portalı </td>
          <td>18.11.2021</td>
          <td>Kullanıcıların girip anketler oluşturup bunları paylaşabildiği bir platform </td>
        </tbody>
        <button class="btn btn-success ">Konuyu seç</button>
        <button class="btn btn-danger  ml-2"(click)="detay3=false;" >Kapat</button>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="detay4">
    <div class="col-md-12">
      <h4>Detaylar</h4>
      <table class="table">
        <thead>
          <th>Konu Adı</th>
          <th>Bitiş Tarihi</th>
          <th>Detay</th>
        </thead>
        <tbody>
          <td>Soru – Cevap Portalı </td>
          <td>18.11.2021</td>
          <td>Kullanıcıların birbirlerinin sorularını cevaplayabildiği bir soru-cevap portalı</td>
        </tbody>
        <button class="btn btn-success ">Konuyu seç</button>
        <button class="btn btn-danger  ml-2"(click)="detay4=false;" >Kapat</button>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="detay5">
    <div class="col-md-12">
      <h4>Detaylar</h4>
      <table class="table">
        <thead>
          <th>Konu Adı</th>
          <th>Bitiş Tarihi</th>
          <th>Detay</th>
        </thead>
        <tbody>
          <td>Araç Kiralama Portalı  </td>
          <td>18.11.2021</td>
          <td>Araç kiralama şirketlenerinin müşterilerine sunabileceği bir araç kiralama portalı</td>
        </tbody>
        <button class="btn btn-success ">Konuyu seç</button>
        <button class="btn btn-danger  ml-2"(click)="detay5=false;" >Kapat</button>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="detay6">
    <div class="col-md-12">
      <h4>Detaylar</h4>
      <table class="table">
        <thead>
          <th>Konu Adı</th>
          <th>Bitiş Tarihi</th>
          <th>Detay</th>
        </thead>
        <tbody>
          <td>Ödev Dağıtım Portalı </td>
          <td>18.11.2021</td>
          <td>Öğrencilerin derslerden belirlenen projelerden birisini seçebildiği bir ödev dağılım portalı</td>
        </tbody>
        <button class="btn btn-success ">Konuyu seç</button>
        <button class="btn btn-danger  ml-2"(click)="detay6=false;" >Kapat</button>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="detay7">
    <div class="col-md-12">
      <h4>Detaylar</h4>
      <table class="table">
        <thead>
          <th>Konu Adı</th>
          <th>Bitiş Tarihi</th>
          <th>Detay</th>
        </thead>
        <tbody>
          <td>Ödev Dağıtım Portalı </td>
          <td>18.11.2021</td>
          <td>Öğrencilerin derslerden belirlenen projelerden birisini seçebildiği bir ödev dağılım portalı</td>
        </tbody>
        <button class="btn btn-success ">Konuyu seç</button>
        <button class="btn btn-danger  ml-2"(click)="detay7=false;" >Kapat</button>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="detay8">
    <div class="col-md-12">
      <h4>Detaylar</h4>
      <table class="table">
        <thead>
          <th>Konu Adı</th>
          <th>Bitiş Tarihi</th>
          <th>Detay</th>
        </thead>
        <tbody>
          <td>Ödev Dağıtım Portalı </td>
          <td>18.11.2021</td>
          <td>Öğrencilerin derslerden belirlenen projelerden birisini seçebildiği bir ödev dağılım portalı</td>
        </tbody>
        <button class="btn btn-success ">Konuyu seç</button>
        <button class="btn btn-danger ml-2 "(click)="detay8=false;" >Kapat</button>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="detay9">
    <div class="col-md-12">
      <h4>Detaylar</h4>
      <table class="table">
        <thead>
          <th>Konu Adı</th>
          <th>Bitiş Tarihi</th>
          <th>Detay</th>
        </thead>
        <tbody>
          <td>Ödev Dağıtım Portalı </td>
          <td>18.11.2021</td>
          <td>Öğrencilerin derslerden belirlenen projelerden birisini seçebildiği bir ödev dağılım portalı</td>
        </tbody>
        <button class="btn btn-success "(click)="Ogr1Ekle()">Konuyu seç</button>
        <button class="btn btn-danger ml-2 "(click)="detay9=false;" >Kapat</button>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-mt-8">
      <h4>Konular</h4>
      <button class="btn btn-danger" (click)="OturumuKapat()">Oturumu Kapat</button>
      <table class="table"></table>
      <thead>
        <th>Konu Adı</th>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <th>Bitiş Tarihi </th>
        &nbsp;&nbsp;&nbsp;&nbsp;
      </thead>
      <tbody>
        <tr *ngFor="let konu of konular">
          <td>{{konu.konuAdi}}</td>
          &nbsp;
          <td>{{konu.bitisTar}}</td>
          <td><button class="btn btn-outline-dark ml-1" [routerLink]="['/detay' , konu.key]">Detay</button></td>
          <td><button class="btn btn-outline-warning ml-3 mt-1" (click)="konuDuzenle(konu)">Düzenle</button></td>
          <td><button class="btn btn-outline-danger ml-3 mt-1" (click)="konuSil(konu)" >Sil</button></td>
        </tr>
      </tbody>
      <hr>
    </div>
    <div class="col-md-1">
      <br><br><br>
      <button class="btn btn-outline-dark ml-1 mt-5" (click)="detay=true;">Detay</button>
      <button class="btn btn-outline-dark ml-1 mt-1" (click)="detay1=true;">Detay</button>
      <button class="btn btn-outline-dark ml-1 mt-1" (click)="detay2=true;">Detay</button>
      <button class="btn btn-outline-dark ml-1 mt-1" (click)="detay3=true;">Detay</button>
      <button class="btn btn-outline-dark ml-1 mt-1" (click)="detay4=true;">Detay</button>
      <button class="btn btn-outline-dark ml-1 mt-1" (click)="detay5=true;">Detay</button>
      <button class="btn btn-outline-dark ml-1 mt-1" (click)="detay6=true;">Detay</button>
      <button class="btn btn-outline-dark ml-1 mt-1" (click)="detay7=true;">Detay</button>
      <button class="btn btn-outline-dark ml-1 mt-1" (click)="detay8=true;">Detay</button>
      <button class="btn btn-outline-dark ml-1 mt-1" (click)="detay9=true;">Detay</button>
    </div>
    <div class="col-md-4 ml-5">
      <h4>Konu Ekle - Düzenle</h4>
      <form #frm="ngForm" (submit)="konuKaydet()">
        <div class="form-group">
          <label>Konu Adı</label> 
          <input type="text" class="form-control" name="konuAdi" [(ngModel)]="secKonu.konuAdi">
          <input type="hidden" class="form-control" name="key" [(ngModel)]="secKonu.key">
        </div>
        <div class="form-group">
          <label>Bitiş Tarihi</label> 
          <input type="text" class="form-control" name="bitisTar" [(ngModel)]="secKonu.bitisTar" required>
        </div>
        <div class="form-group">
          <label>Açıklama</label> 
          <textarea type="text" class="form-control" name="detay" [(ngModel)]="secKonu.detay" required> </textarea>
        </div>
        <div class="form-group">
          <input type="submit" value="Kaydet" class="btn btn-outline-success" [disabled]="frm.invalid">
          
        </div>
      </form>
      <div [ngClass]="KonuSonuc.islem ? 'alert alert-success' : 'alert alert-danger'" *ngIf="KonuSonuc.mesaj?.length>0">{{KonuSonuc.mesaj}}</div>
      <hr>
    </div>
  </div>
</div>